<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>School home</title>
    <meta name="title" content="School home" />
    <meta charset="utf-8" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
