<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>Student zone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "student" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <%= render partial: 'shared/flash_messages' %>
      <%= yield %>
    </div>
  </body>
</html>



